<nav class="container-fluid">
    <ul>
      <li><a href="/"><strong>RistekSocial</strong></a></li>
    </ul>
    <ul>
      <li><a href="/">All Tweet</a></li>
      <li><a href="/create">Create Tweet</a></li>
    </ul>
  </nav>