<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>Ristek Social</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main class="container">
        <h1>Hello World</h1>
        <h2>These are the messages available :</h2>
        <ul>
            <% for( message of messages ) { %>
                <li>
                        <a href="tweet/<%= message._id %>"><%= message.content %></a>
                </li>
            <% } %>
        </ul>
    </main>
</body>
</html>